.block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  z-index: 2;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 1.1vw;
  color: white;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  margin-bottom: 4vh;
}

.button {
  cursor: pointer;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  font-family: "Trebuchet MS";
  color: white;
  outline: none;
  border: 0.1vw solid lightblue;
  background-color: rgba(128, 128, 128, 0.26);
  box-shadow: 6px 3px 136px 21px rgba(17, 180, 158, 0.8);
  transition: box-shadow 0.7s, border 0.7s;
  border-radius: 30px;
  width: 30vw;
}

.button:hover {
  border-color: rgb(98, 223, 48);
  box-shadow: 6px 3px 136px 21px rgb(98, 223, 48);
}
