.block {
  font-family: "Trebuchet MS";
  color: white;
  display: grid;
  width: 100%;
  grid-template-areas: "title textarea image";
  grid-template-columns: 8vw 1fr 2vw;
  grid-gap: 0.3vw;
  margin-bottom: 0.6vh;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea {
  height: 10vh;
  grid-area: textarea;
  font-family: "Trebuchet MS";
  color: white;
  border-radius: 30px;
  padding: 0.7vh;
  font-size: 1.1vw;
  outline: none;
  background-color: rgba(128, 128, 128, 0.26);
  border: 0.1vw solid transparent;
  transition: box-shadow 0.7s, border 0.7s;
  resize: none;
}

.textarea:focus {
  border-color: lightblue;
  box-shadow: 6px 3px 136px 21px rgba(17, 180, 158, 0.8);
}

.text {
  grid-area: title;
  display: flex;
  margin: auto;
  font-size: 1.3vw;
  font-weight: bold;
}

.error {
  margin-left: 20px;
  color: red;
}

.img {
  grid-area: image;
  display: flex;
  margin: auto;
  height: 1.7vw;
  width: 1.7vw;
  background-image: url(../../../Images/Thank-You-compressed.png);
  background-size: contain;
  background-repeat: no-repeat;
}
