.block {
  font-family: "Trebuchet MS";
  color: white;
  display: grid;
  width: 100%;
  grid-template-areas:
  'title input image'
  'title error image';
  grid-template-columns: 8vw 1fr 2vw;
  grid-gap: 0.3vw;
}

.input {
  grid-area: input;
  font-family: "Trebuchet MS";
  color: white;
  border-radius: 30px;
  padding: 0.6vw;
  font-size: 1.1vw;
  background-color: rgba(128, 128, 128, 0.26);
  outline: none;
  transition: box-shadow 0.7s, border 0.7s;
  border: 0.1vw solid transparent;
}

.input:focus {
  border-color: lightblue;
  box-shadow: 6px 3px 136px 21px rgba(17, 180, 158, 0.8);
}

.text {
  grid-area: title;
  display: flex;
  margin: auto;
  font-size: 1.3vw;
  font-weight: bold;
}

.error {
  grid-area: error;
  font-size: 1.1vw;
  color: red;
}

.img {
  grid-area: image;
  display: flex;
  margin: auto;
  height: 1.7vw;
  width: 1.7vw;
  background-image: url(../../../Images/Thank-You-compressed.png);
  background-size: contain;
  background-repeat: no-repeat;
}
