.block {
  position: relative;
  display: flex;
  padding: 1vw;
  font-family: "Trebuchet MS";
  color: white;
  z-index: 2;
}

.borderBlock {
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  border: 0.3vw solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.678),
    rgba(255, 255, 255, 0.507)
  );
  border-image-slice: 1;
  flex-direction: column;
  padding: 20px;
}

.nameBlock {
  font-family: "Trebuchet MS";
  font-size: 1.8vw;
  position: absolute;
  left: 20px;
  top: 20px;
}

.contacts {
  top: 20px;
  position: absolute;
  right: 0;
  text-align: end;
  padding-right: 30px;
  font-size: 20px;
}

.contactsText {
  font-size: 1.25vw;
}

.title {
  font-size: 1.7vw;
  font-weight: bold;
  border-bottom: 0.2vw solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.678),
    rgba(255, 255, 255, 0.507)
  );
  border-image-slice: 1;
}

.description {
  margin-top: 200px;
}

.textBlock {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text {
  font-size: 1vw;
  text-transform: none;
  margin-top: 10px;
}

.list {
  text-transform: none;
  margin-top: 10px;
  padding-left: 18px;
}

.img {
  margin-left: 20px;
  margin-right: 20px;
  height: 1.25vw;
  width: 1.25vw;
  border: 0.1vw solid white;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
}

.contactsImg {
  margin-left: 20px;
  margin-right: 20px;
  height: 1.25vw;
  width: 1.25vw;
  border: 0.1vw solid white;
  background-color: white;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}
